[defaults]
bin_ansible_callbacks = True
callback_enabled = timer, profile_tasks
forks = 50
deprecation_warnings = False
inventory=./inventory
roles_path = ./.roles
library = ./roles:./roles/collections:./.roles
collections_path = ./roles/ansible_collections:./roles/collections:~/.local/lib/python3.10/site-packages/ansible_collections
retry_files_enabled = False
stdout_callback = yaml
remote_user = ansible
private_key_file = ~/.ssh/id_rsa
allow_world_readable_tmpfiles = true
vault_password_file = ./.vault_password
become_password_file = ./.become_password
